/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important; 
}


html {
     scroll-behavior: smooth;
}
nav{
	max-width: 900px;
	margin: auto;

}

body {
     background-image: radial-gradient( circle 767px at 10.2% 22.1%rgb(255, 255, 255) 90% );
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     background-size: cover;
}
.sings{
padding: 10px; /*espacio alrededor texto*/
background-color: #fff; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}
header{
	width: 100%;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding: 40px 0;
}

.selectbox {
	width: 50%;
	margin: auto;
	position: relative;
}

.select {
	background: #fff;
	width: 100%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 30px;
	padding: 30px;
	position: relative;
	z-index: 200;
	border: 2px solid transparent;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 15px solid #213f8f;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
}

.select i {
	font-size: 30px;
	margin-left: 30px;
	color: #213f8f;
}

.titulo {
	margin-bottom: 10px;
	color: #000;
	font-weight: 600;
	font-size: 24px;
}

.descripcion {
	font-size: 18px;
	color: #434343;
}

.opciones {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	z-index: 100;
	width: 100%;
	display: none;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
	padding: 30px;
}

.contenido-opcion img {
	width: 60px;
	height: 60px;
	margin-right: 30px;
}

.opciones .contenido-opcion:hover {
	background: #213F8F;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
	color: #fff;
}

@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}
.navegacion{
	width: 1000px;
	margin: 30px auto;
     text-align: end ; 
     padding: 0px 20px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
     float: right;
 
     
}

.navegacion ul{
	list-style: none;
     color: #000
}

.menu > li{
	position: relative;
	display: inline-block;
     z-index: 1;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
     font-weight: normal;     
	text-decoration: none;   
}

.menu li a:hover{
	color: black ;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #DFC38A ;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: black;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
} 
.buttons {
     min-width: 200px;
     display: flex;
     justify-content: space-around;
   }

   .buttons a {
     text-decoration: none;
     font-size: 28px;
     width: 60px;
     height: 60px;
     line-height: 60px;
     text-align: center;
     background: #314652;
     color: #f1f1f1;
     border-radius: 50%;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
     transition: all .4s ease-in-out;
   }
   
   .buttons a:hover {
     transform: scale(1.2);
   }

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
     
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
     padding: 27px;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.header_information {
     background-color:#DFC38A;
     padding: 0 0;
     padding-top: 0px;
     padding-top: 0px;
     margin-top: 0;
     margin-right: 0;
     margin-bottom: 0;
     position: absolute;
     width: 128%;
     height: 98px;
     margin-top: -20px;
     right: 0;
}

.header_information::before {
     width: 84px;
     height: 98px;
     background: url(../images/top_arrow1.png);
     background-repeat: repeat;
     display: block;
     content: "";
     position: absolute;
     top: 0;
     left: 0px;
     background-repeat: no-repeat;
}

.sign_btn {
     padding-left: 50px;
}

.sign_btn a {
     background-color: #fff;
     display: inline-block;
     padding: 7px 35px;
     border-radius: 20px;
     color: #292e39;
     font-size: 17px;
}

.sign_btn a:hover {
     color: #fff;
     background: #000;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     width: 100%;
     background: #fff;
     padding: 20px 0px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}


/** banner section **/

.relative {
     position: absolute;
     top: 56%;
     transform: translateY(-44%);
     padding: 0;
     bottom: auto;
}

.banner_main {
     position: relative;
}

.carousel-indicators .active {
     background: #00aeef;
}

.carousel-indicators li {
     width: 20px;
     height: 20px;
     background: #fafcfd;
     border-radius: 20px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
     display: none;
}

.carousel-indicators {
     bottom: 50px;
}

.carousel-item img {
     width: 100%;
}

.carousel-caption h1 {
     color: #08091e;
     font-size: 65px;
     line-height: 80px;
     padding-bottom: 35px;
     font-weight: bold;
}

.carousel-caption a {
     font-size: 17px;
     background-color: #00aeef;
     color: #fff;
     font-weight: 500;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     margin-top: 50px;
     border-radius: 30px;
}

.carousel-caption a:hover {
     background-color: #000;
     color: #fff;
     transition: ease-in all 0.5s;
     color: #000;
}


/** banner section **/

.titlepage {
     text-align: center;
     padding-bottom: 60px;

}

.titlepage h2 {
     font-size: 45px;
     color: #0b0503;
     line-height: 50px;
     font-weight: bold;
     padding: 0;
     
}




.titlepage span {
     background: #042431;
     display: block;
     height: 10px;
     width: 90px;
     
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: transparent;
     color: #7a7a7a;
     padding: 8px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     border-radius: 30px;
     border: #00aaea solid 3px;
     transition: ease-in all 0.5s;
}

.read_more i {
     padding-left: 10px;
}

.read_more:hover {
     background: #00aaea;
     color: #fff !important;
     transition: ease-in all 0.5s;
}


/** infotmacion section **/

.infotmacion {
     background: url(../images/ab_bg.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding: 90px 0;
     
}

.infotmacion .titlepage {
     text-align: left;
     padding: 0;
     
}

.infotmacion .titlepage p {
 
     margin-left: 15px;
     color: #292e39;
     font-size: 17px;
     line-height: 35px;
     font-weight: 500;
     padding: 20px 0px 35px 0px;
     padding: 188;
}

.infotmacion_img figure {
     margin: 0;
}

.infotmacion_img figure img {
     width: 100%;
     height: 100%;
     margin-left: 15px;
     
}


/** end infotmacion section **/


/** mobile section **/

.mobile {
     background: url(../images/mo_bg.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding: 90px 0;
}

.mobile .titlepage {
     text-align: right;
     padding: 0;
}

.mobile .titlepage h2 {
     color: #fff;
}

.mobile .titlepage span {
     margin-left: 58px;
}

.mobile .titlepage p {
     color: #fff;
     font-size: 17px;
     line-height: 35px;
     font-weight: 500;
     padding: 20px 0px 35px 0px;
}

.mobile_img figure {
     margin: 0;
}

.mobile_img figure img {
     width: 100%;
}

.mobile .titlepage .read_more {
     border: #fff solid 3px;
     color: #fff;
}


/** mobile section **/



.jonu {
     padding-top: 72px;
     text-align: center;
}

.jonu h3 {
     padding: 0px 0px 0px 0px;
     color: #0b0503;
     font-size: 25px;
}

.jonu strong {
     display: block;
     color: #00aeef;
     font-size: 17px;
     padding-bottom: 50px;
}


/** end adistramientos section **/


/** contact section **/

.contact {
     background: #042431;
     margin-top: 90px;
     padding: 90px 0;
}

.contact .titlepage h2 {
     color: #fff;
}

.main_form .contactus {
     border: inherit;
     margin-bottom: 20px;
     width: 100%;
     height: 60px;
     background: transparent;
     color: #f9fcfd;
     font-size: 18px;
     font-weight: normal;
     border-bottom: #fff solid 1px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: transparent;
     text-transform: uppercase;
     font-weight: 500;
     border: #00aeef solid 3px;
     color: #f9fcfd;
     padding: 8px 0px;
     margin: 0 auto;
     max-width: 180px;
     width: 100%;
     display: block;
     border-radius: 30px;
     margin-top: 30px;
}

.main_form .send_btn:hover {
     background-color: #00aeef;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #f9fcfd;
     opacity: 1;
}


/** end contact section **/


/** footer **/

.footer {
     background: #042431;
     text-align: center;
}

.border-top {
     border-top: #fff solid 1px;
     padding-top: 90px;
}

.footer h3 {
     color: #fff;
     font-weight: 500;
     font-size: 17px;
     line-height: 20px;
     text-align: left;
     padding-bottom: 20px;
}

.footer_form {
     display: flex;
     border-bottom: #4d636c solid 1px;
     align-items: center;
     justify-content: center;
}

.enter {
     border: inherit;
     width: 71%;
     background: transparent;
     color: #4d636c;
     font-size: 18px;
     font-weight: normal;
     border-bottom: initial;
}

ul.cont li {
     color: #8a9397;
     font-size: 17px;
     line-height: 32px;
     text-align: left;
}

.copyright {
     margin-top: 90px;
     padding: 20px 0px;
     background-color: #DFC38A ;
}

.copyright p {
     color: #fff;
     font-size: 18px;
     font-weight: 300;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #000;
}


/** end footer **/


/** inner page css **/

.margin_to90 .footer {
     margin-top: 90px;
}


.ramas {
     margin: 90px 0 60px 0;
}

.our_box {
     margin-bottom: 30px;
}

.our_box figure {
     margin: 0;
}

.our_box figure img {
     width: 100%;
}

/* Estilos para pantalla pequeña */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
  }
  
  .column {
    width: 100%;
  }
  
  .column + .column {
    margin-top: 15px;
  }
}

/* Estilos para pantalla mediana */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
  }
  
  .column {
    width: 50%;
    float: left;
  }
  
  .column + .column {
    margin-top: 30px;
  }
}

/* Estilos para pantalla grande */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  
  .container {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  .column {
    width: 50%;
    float: left;
  }
  
  .column + .column {
    margin-top: 50px;
  }
}